behat.yml
bin/*
cache/
composer.lock
composer.phar
src/config/current.php
vendor
web/js/affix.js
web/js/alert.js
web/js/button.js
web/js/carousel.js
web/js/collapse.js
web/js/dropdown.js
web/js/modal.js
web/js/popover.js
web/js/scrollspy.js
web/js/tab.js
web/js/tooltip.js
web/js/transition.js
web/css/bootstrap.css
web/css/bootstrap-responsive.css
web/img/glyphicons-*.png
web/fonts/glyphicons-halflings-regular.*
