<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spore</title>
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/css/main.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="https://github.com/sanpii/spore">Sources</a></li>
                </ul>

                <h3 class="muted">Spore</h3>

                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="/logout">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <hr />

            {% if error is defined and error is not empty %}
                <div class="alert alert-error">{{ error }}</div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
