parameters:
    project_name: Test
    database_user: sanpi
    database_password: 3.1416
    database_host: localhost
    database_port: 5432
    database_name: spore

debug: true

users:
    admin:
        - 'ROLE_ADMIN'
        - '5FZ2Z8QIkA7UTZ4BYkoC+GsReLf569mSKDsfods6LYQ8t+a8EW9oaircfMpmaLbPBh4FOBiiFyLfuZmTSUwzZg=='
